In [5]:
import csv
import time
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt

In [6]:

def clean_duplicated():
    file1 = open("Activity_clean1.csv", "w", encoding="utf8")
    f1 = csv.writer(file1)
    file2 = open("Activity_clean2.csv", "w", encoding="utf8")
    f2 = csv.writer(file2)
    df=pd.read_csv("Activity1.csv")
    de=pd.read_csv("Activity2.csv")


    userid = df["Userid"].unique()

    for user in userid:
#         print(df[" senseStartTime"][df["Userid"]==user].unique(), len(df[" senseStartTime"][df["Userid"]==user].unique()), user)
        tmp=df.drop_duplicates(subset=[" senseStartTime", "Userid"], keep="first")
#         print(tmp)
        tmp.to_csv("Activity_clean1.csv", index=False)
    
    userid = de["Userid"].unique()
    
    for user in userid:
#         print(de[" senseStartTime"][de["Userid"]==user].unique(), len(de[" senseStartTime"][de["Userid"]==user].unique()), user)
        tmp=de.drop_duplicates(subset=[" senseStartTime", "Userid"], keep="first")
#         print(tmp)
        tmp.to_csv("Activity_clean2.csv", index=False)
    
    df1=pd.read_csv("Activity_clean1.csv")
    df2=pd.read_csv("Activity_clean2.csv")
    df_joined = pd.concat([df1,df2])
    df_joined.to_csv('Activity_joined.csv',index=False)

In [8]:

clean_duplicated()

df = pd.read_csv("Activity_joined.csv")
#de = pd.read_csv("Qids_Score.csv")
df

dates_milli = df[" senseStartTime"].tolist()
date_mili_strip = [i.replace("'", "") for i in dates_milli]
date_final = [i.split("T")[0] for i in date_mili_strip]

date_final

converted_dates = []

for i in date_final:  # create a list fo dates from mili sec
    # s = int(i) / 1000.0
    # m = datetime.fromtimestamp(s).strftime('%Y-%m-%d')
    # # date=time.strftime('%Y-%m-%d', time.gmtime(int(i)))
    converted_dates.append(i)

df["Final Date"] = converted_dates  # new conlumn of dates only
df
# df.to_csv("Activity.csv", index=False)

,deviceid,senseStartTimeMillis,sensorType,senseStartTime,version,os,Confidence,Activity,Userid,Final Date
0,'0b482745b4fced28',1649448366616,'Activity','2022-04-08T20:06:06','2.3.1','12',100,'Still',953571,2022-04-08
1,'0b482745b4fced28',1649449588320,'Activity','2022-04-08T20:26:28','2.3.1','12',100,'Still',953571,2022-04-08
2,'0b482745b4fced28',1649449940220,'Activity','2022-04-08T20:32:20','2.3.1','12',100,'Still',953571,2022-04-08
3,'0b482745b4fced28',1649449941645,'Activity','2022-04-08T20:32:21','2.3.1','12',100,'Still',953571,2022-04-08
4,'0b482745b4fced28',1649456847630,'Activity','2022-04-08T22:27:27','2.3.1','12',100,'Still',953571,2022-04-08
...,...,...,...,...,...,...,...,...,...,...
123547,'071a04e73a407b0d',1673630764524,'Activity','2023-01-13T17:26:04','2.3.1','11',65,'Still',453897,2023-01-13
123548,'071a04e73a407b0d',1673630946435,'Activity','2023-01-13T17:29:06','2.3.1','11',98,'Still',453897,2023-01-13
123549,'071a04e73a407b0d',1673631127452,'Activity','2023-01-13T17:32:07','2.3.1','11',40,'Unknown',453897,2023-01-13
123550,'071a04e73a407b0d',1673631308447,'Activity','2023-01-13T17:35:08','2.3.1','11',42,'Still',453897,2023-01-13
123551,'071a04e73a407b0d',1673631506804,'Activity','2023-01-13T17:38:26','2.3.1','11',36,'Still',453897,2023-01-13